<?xml version="1.0"?>

<launch>
	<!-- <node name="sensor_noise" pkg="multi_robot_exploration_pkg" type="sensor_noise.py" /> -->
	<include file="$(find summit_xl_sim_bringup)/launch/summit_xls_complete.launch"/>
	<!--<node name="autonomous_exploration" pkg="multi_robot_exploration_pkg" type="autonomous_exploration.py" />-->
	<!-- Multi-robot-mapping -->
	<!-- <include file="$(find multi_robot_exploration_pkg)/launch/multi_robot.launch"/> -->
	

</launch>
